[submodule "epic"]
	path = epic
	url = https://github.com/ShujianQian/epic-eval.git
[submodule "sto"]
	path = sto
	url = https://github.com/ShujianQian/sto.git
[submodule "caracal"]
	path = caracal
	url = https://github.com/ShujianQian/felis.git
[submodule "aria"]
	path = aria
	url = https://github.com/ShujianQian/aria.git
